<div class="topcontainer" layout layout-align="center center">
    <div layout="column" layout-align="center center" style="padding:20px">
        <h2 class="animated bounceInLeft">
            Connect with Your Wedding Guests,<br>in a Way They Will Never Forget!</h2>
        <hr style="color: white;width:150px ">
        <h3>Create your FREE digital wedding invitation right now:</h3>
        <div layout="row" layout-xs='column' class="animated bounceInRight">
            <md-input-container>
                <label>Your First Name</label>
                <input type="text" ng-model="yourname">
            </md-input-container>
            <md-input-container>
                <label>Spouse's First Name</label>
                <input type="text" ng-model="spousename">
            </md-input-container>
            <md-button class="md-primary" id='button'>Create a WedInvite</md-button>
        </div>
    </div>
</div>

<div layout="column" layout-align="center center" class="marketing" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
    <div layout="row" layout-xs="column" layout-sm="column" layout layout-align="center center">
        <div layout="row" layout-align="center center">
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/email_envelope.png"></i>
                <p>RSVP</p>
                <p1>Guests can RSVP to your wedding and add their plus ones</p1>
            </div>
            <span flex></span>
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/musical-note.png">
                <p>Songs Suggestion</p>
                <p1>Guests can suggest songs for your wedding</p1>
            </div>
            <span flex></span>
        </div>
        <div layout="row" layout-align="center center">
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/folding-brochure.png"></i>
                <p>Live Directions</p>
                <p1>Guests get directions to your wedding with Google Maps or Waze</p1>
            </div>
            <span flex></span>
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/wallet.png"></i>
                <p>Wedding Gifts</p>
                <p1>Guests can send you wedding gifts with PayPal</p1>
            </div>
        </div>
    </div>

    <div layout="row" layout-xs="column" layout-sm="column" layout layout-align="center center">
        <div layout="row" layout-align="center center">
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/open-document.png"></i>
                <p>Guest Greetings</p>
                <p1>Guests can write and view greetings in your wedding book</p1>
            </div>
            <span flex></span>
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/photo-camera.png"></i>
                <p>Shared Wedding Album</p>
                <p1>Guests can share and view photos in your social wedding album</p1>
            </div>
            <span flex></span>
        </div>
        <div layout="row" layout-align="center center">
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/edit.png"></i>
                <p>Seating Arrangements</p>
                <p1>Easily drag and drop guests onto tables and export to Microsoft Excel</p1>
            </div>
            <span flex></span>
            <div layout="column" layout-align="center center" class="gridcontent">
                <img src="images/chat.png"></i>
                <p>Multilingual</p>
                <p1>We support <u>over 54 languages</u> including RTL languages.</p1>
            </div>
        </div>
    </div>
</div>

<div class="call-to-action" layout="column" layout-align="center center">
    <div layout layout-align="center center" style="padding:20px;text-align: center" id="callToTop">
        <p>Wedivite <b>Can Extend or Replace</b> Your Traditional Paper Invitation.</p>
    </div>
    <div layout="row" layout-align="center center" id="callToDown">
        <div layout layout-align="center center" id="call-content">
            <p1>View a Demo Invitation</p1>
        </div>
        <span flex="5"></span>
        <div layout layout-align="center center" id="call-content" hide-xs>
            <p1>View Demo on a Mobile</p1>
        </div>
    </div>
</div>


<div layout='row' layout-xs="column" layout-align='center center' class="dashboard">
    <div layout='column' class="dashboard-left">
        <p1>It's fun, easy-to-use <p2 style="font-size:45px;color:#666666 "> and will save you time, money and trees.</p2></p1>
        <p3>Our all-in-one, social wedding planner and invitation,
            will help you through the time-consuming process of planning your wedding.</p3>
        <md-button class="md-primary" id='button2'>Create a FREE invitation Now</md-button>
    </div>
    <div id="dashboardRight">
        <img src="images/free-wedding-invitation.png" alt="" style="width:100%;max-width:350px ">
    </div>
</div>

<hr style="margin-left:10%;margin-right:10%">

<div layout='row' layout-xs="column" layout-align='center center' class="feature">
    <div id="featureLeft">
        <img src="images/free-mobile-wedding-invitation.png" alt="" style="width:100%;max-width:350px ">
    </div>
    <div layout='column' class="feature-right">
        <p1>Oh yeah, it's that good.<p2 style="font-size:45px;color:#666666 ">See for yourself.</p2></p1>
        <p3>
            Your Wedivite mobile wedding invitation will look amazing on all types of devices and screens.
            But the best part is that guests doesn't need to install anything on their devices. <b>It simply works...</b>
        </p3>
        <md-button class="md-primary" id='button2'>View Demo on a Mobile</md-button>
    </div>
</div>

<hr style="margin-left:10%;margin-right:10%">

<div layout='row' layout-xs="column" layout-align='center center' class="appatstore">
    <div layout='column' class="appatstore-left">
        <p1 style="font-size:45px;color:#666666 ">Manage your wedding</p1>
        <p2>on-the-go.</p2>
        <p3>
            Take your wedding planning anywhere with our FREE iOS and Android apps.
        </p3>
        <div layout="row" layout-xs="column" style="margin-top:10px">
            <a href="https://itunes.apple.com/app/apple-store/id770088894?mt=8">
                <img src="images/ios-wedding-invitation.png" alt="" style="margin-top:3px"></a>
            <span flex="5"></span>
            <a href="https://play.google.com/store/apps/details?id=com.wedivite.app&hl=en">
                <img src="images/android-wedding-invitation.png" alt=""></a>
        </div>
    </div>
    <div id="appatstoreRight">
        <img src="images/ios-googleplay-wedding-planner.png" alt="" style="width:100%;max-width:350px ">
    </div>
</div>

<hr style="margin-left:10%;margin-right:10%">

<div layout="column" class="reviewtop">
    <div layout="row" layout-xs="column">
        <h2 style="float:left">What Couples Are Saying About Us</h2>
        <span flex></span>
        <h2><p1>61K<p2 style="color:#37BA85;">+</p2></p1> <small style="color: #5A5A5A; font-family: 'Proxima';">Happy Couples</small></h2>
    </div>
    <div id="Glide" class="glide">
        <div class="glide__arrows" hide-xs>
            <button class="glide__arrow prev" data-glide-dir="<">prev</button>
            <button class="glide__arrow next" data-glide-dir=">">next</button>
        </div>
        <div class="glide__wrapper">
            <ul class="glide__track" layout="row">
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/minamihail.jpg" class="reviewer-pic" alt="Mina &amp; Mihail">
                        <h4 class="subheading reviewer-name">Mina &amp; Mihail</h4>
                        <h6 class="subheading muted reviewer-city">Sofia, Bulgaria</h6>
                        <p class="small">Hey Amy and all you wonderful guys there! Your site is great and our guests were pleasantly surprised by your web invitation. In Bulgaria it is not yet popular using such things. Thank you again and keep making people smile and helping them organize their big day.</p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/adiben.jpg" class="reviewer-pic" alt="Erica &amp; Frank">
                        <h4 class="subheading reviewer-name">Erica &amp; Frank</h4>
                        <h6 class="subheading muted reviewer-city">Tampa, Florida</h6>
                        <p class="small">Hello Ben, I absolutely loved it! I enjoyed the whole concept and how easy it was to navigate through. Im so happy I bumped into it while sesrching for an online wedding invitations. Though I didn't get to use the extra pages I loved all of the options I had to work with.</p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/janineotto.png" class="reviewer-pic" alt="Janine &amp; Otto">
                        <h4 class="subheading reviewer-name">Janine &amp; Otto</h4>
                        <h6 class="subheading muted reviewer-city">Los Angeles, California</h6>
                        <p class="small">We have absolutely loved the convenience and uniqueness of Wedivite. All of our guests were also very impressed with the whole look and idea - and even my almost 80 year old parents managed to navigate it!</p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/lindadavid.jpg" class="reviewer-pic" alt="Linda &amp; David">
                        <h4 class="subheading reviewer-name">Linda &amp; David</h4>
                        <h6 class="subheading muted reviewer-city">Dallas, Texas</h6>
                        <p class="small">Thank you for providing such a great service! Since we have so many friends on Facebook, the ability to send invites via FB was without a doubt the best thing. The site was extremely user-friendly, no matter your computer level of literacy.</p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/sallytim.jpg" class="reviewer-pic" alt="Sally &amp; Tim">
                        <h4 class="subheading reviewer-name">Sally &amp; Tim</h4>
                        <h6 class="subheading muted reviewer-city">Tampa, Florida</h6>
                        <p class="small">The guests were thoroughly impressed with the invite. They liked the color schemes and how inter-active the invite was. They loved the suggest a song feature Many thanks to you and the team.</p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="review text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> <img src="http://cdn.wedivite.com/wp-content/themes/wedivite/images/testemonials/emilykeagan.png" class="reviewer-pic" alt="Emily &amp; Keagan">
                        <h4 class="subheading reviewer-name">Emily &amp; Keagan</h4>
                        <h6 class="subheading muted reviewer-city">Los Angeles, California</h6>
                        <p class="small">I cannot begin to express how amazing I think Wedivite is! It was so easy to use, looked fantastic and when we had any issues your staff were so helpful, friendly and efficient. We have had nothing but positive responses from our guests. Thank you so much for making our invitation so special and taking away some of the stress of the wedding planning!</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="glide__bullets"></div>

    </div>
</div>

<div class="createsection" layout="row" layout-xs="column" layout-align="center center">
    <span flex></span>
    <div style="text-align:center;padding:10px" id="call-contentLeft">
        <p>You are 1-click away from a <b>FREE</b> online wedding invitation.</p>
    </div>
    <span flex></span>
    <div layout layout-align="center center" id="call-content" class="sanju">
        <p1 style="font-weight: bold">Create One Now!</p1>
    </div>
    <span flex></span>
</div>
